## Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are: 
 1. Python
 2. R
 3. SQL
 4. Julia

In [3]:
Some of the commonly used libraries used by Data Scientists include:

    1. Numpy
    2. Pandas 
    3. Matplotlib

SyntaxError: invalid syntax (<ipython-input-3-a08a9cba78df>, line 1)

| Data Science Tools       |
|--------------------------|
| Jupyter Notebook         |
| RStudio                  |
| Apache Zeppelin          |

Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [4]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [5]:
200/60

3.3333333333333335

**Objectives:**

* Python
* R
* SQL
* Julia 
* Scalac

 ## Author

Candido